/*Global styles
---------------------------------------------*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body { 
    background-color: rgb(245,239,235);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

h1, h2, p, figcaption, figure{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

/* Container properties
---------------------------------------------*/

.container {
    width: 80%; 
    background-color: white;
    margin: 0 auto;
}

/*Header Styles
---------------------------------------------*/

#mainHeader{
    width: 100%;
    min-height: 40%;
}

/*Navigation 
---------------------------------------------*/

#mainHeader .nav-bar{
    width: 100%;
    max-height: 50px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

#mainHeader .nav-bar .logo h1{
    color:white;
}

#mainHeader .nav-bar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start ;
    align-content: space-around;
}

#mainHeader .nav-bar nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 15px 14px;
}

#mainHeader .nav-bar nav ul li a:hover{
    background-color: white;
    color:black;
}

/*Centered Logo
---------------------------------------------*/

#mainHeader .centered-logo{
    width: 100%;
    min-height: 200px;
    border-bottom: 1px solid rgb(219,219,219);
}

#mainHeader .centered-logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    letter-spacing: 6px;
}

#mainHeader .centered-logo h2{
    margin-left: 15%;
    padding-top: 3%;
}

#mainHeader .centered-logo p{
    margin-left: 15%;
    font-family: 'Playfair Display', serif;
}

/*Main article
---------------------------------------------*/

#mainHeader article{
    width:80%;
    min-height: 50%;
    margin: 0 auto;
    background-color: white;
}

#mainHeader .main-article-header{
    width: 80%;
    min-height: 10%;
    margin: 7% auto 10%;
}

#mainHeader .main-article-header p {
    width: 150px;
    float: right;
    font-size: 13px;
    margin: 15px auto;
    color: #343434;
}

#mainHeader .main-article-header a{
    color:#343434;
}

#mainHeader .main-article-header p a:hover{
    text-decoration: underline;
}

#mainHeader .body-article {
    width: 80%;
    min-height: 40%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 17px;
}

#mainHeader .body-article figcaption{
    padding-bottom: 20px;
    color: rgb(45,45,45);
}

#mainHeader .body-article img{
    width: 100%;
}

#mainHeader .body-article figcaption a{
    color: rgb(45,45,45);
}

#mainHeader .body-article figcaption a:hover{
    text-decoration: underline;
    color: blue;
}

/*Section of an ordinary news
---------------------------------------------*/

main{
    width: 100%;
    max-height: 40%;
}

main .container{
    margin: 0 auto;
    border: 1px solid white;
    background-color: rgb(245,239,235);
}


main .article-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

main .container-for-secondary-news{
    display: flex;
    flex-wrap: wrap;
}

main .article-container .article-item{
    width:49%;
    margin: 50px;
    text-align: center;
    flex: 1 0 10%;
}

main .article-container header:first-child{
    flex: 0 1 100%;
    text-transform: uppercase;
    border-bottom: 1px dashed black;
    padding-bottom: 30px;
}

main .article-container img{
    width: 80%;
}

main .article-container a{
    color: black;
    font-size: 17px;
}


/*Ad section
---------------------------------------------*/

aside{
    width: 100%;
    max-height: 20%;
}

aside .container {
    max-height: 20%;
    background-color: white;
    padding: 50px;
}

aside .container section {
    width: 50%;
    display: block;
    max-height: 20%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

aside .container p{
    padding: 10px; 
}

aside .container section a{
    display: inline-block;    
    color: white;
    font-size: 1em;
    background-color: black;
    text-transform: uppercase;
    padding: 2% 3%;
    margin: 10px 0;
    border: 1px solid transparent;
}

aside .container section a:hover{
    background-color: white;
    color:black;
    border: 1px solid black;
}

/*Footer section
---------------------------------------------*/

#page-footer {
    width: 100%;
    max-height: 10%;
}

#page-footer .container {
    background-color: black;
    max-height: 10%;
    color: white;
}

#page-footer .footer-items{
    display: flex;
    justify-content: space-around;
}

#page-footer .right-column{
    padding: 35px 80px;
    line-height: 1.5;
}

#page-footer .left-column{
    padding: 35px 80px;
}

#page-footer .right-column a{
    color: white;
    font-family: 'Arial', sans-serif;
    transition-duration: .3s;
}

#page-footer .right-column a:hover{
    border-bottom: 1px solid white;
}

#page-footer .left-column p{
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

/*Responsive 
---------------------------------------------*/

@media screen and (max-width:920px){
    #page-footer .footer-items{
        display: flex;
        flex-wrap: wrap-reverse;
        align-content: center;
        justify-content: center;
    }

    #page-footer .right-column{
        line-height: 1.5;
        flex: 1 0 20%;
    }

    #page-footer .left-column{
        padding-top: 0;
        flex: 1 0 100%;
    }
    
    #mainHeader .centered-logo{
        text-align: center;
    }
    
    #mainHeader .centered-logo h2, #mainHeader .centered-logo p{
        margin: 0;
        padding: 0;
    }
    
    main .container-for-secondary-news{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    main .article-container .ordinary-news-article{
        flex: 1 0 100%;
    }
    
    #mainHeader .main-article-header p {
        width: 150px;
        min-height: 5%;
        float: left;
    }
    
    #mainHeader .body-article{
        margin-top: 10%;
    }
}

@media screen and (max-width: 540px){
    #mainHeader .nav-bar{
        max-height: 100px;
        justify-content: center;
    }
    
    #mainHeader .nav-bar .logo h1{
        flex: 1 0 100%;
    }
    
    #mainHeader .nav-bar nav ul{
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
    
    #mainHeader .nav-bar nav ul li a{
        padding: 10px 10px;
        flex: 1 0 10%;
    }
    
    #mainHeader .nav-bar nav ul li a:hover{
        background: none;
        color: white;
        text-decoration: underline;
    }
    
    .container{
        width: 100%;
    }
    
    aside .container section {
        width: 90%;
        display: block;
        max-height: 20%;
        margin: 0 auto;
        text-align: center;
        border: 1px solid black;
    }
}
